body {
    background-color: rgb(71, 15, 78);
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Convergence', sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
}

h2 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.432);
    font-family: 'Convergence', sans-serif;
}

h3 {
    font-size: 80px;
    font-family: 'Convergence', sans-serif;
}

#topo {
    align-content: center;
    justify-content: center;
}

.container#menu {
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 45% 45%;
    align-items: center;
}

.container#carrossel {
    display: grid;
    grid-template-columns: 10% 80% 10%;

}

div.op1 {
    width: 50%;
    display: inline-block;
    align-content: center;
    font-size: 3vw;
    padding: 5vw 0vw 5vw 0vw;
    min-width: 40vw;
}

div.op2 {
    grid-row-gap: 200px;
    width: 50%;
    display: inline-block;
    font-size: 3vw;
}

.titulo {
    font-size: 5vw;
    background-color: blue;
    text-align: center;
    padding: 3vw;
    position: relative;
}

#carouselcenter {
    padding: 80px;
}

#carouselExampleIndicators {
    align-content: center;
}

.carousel-item {
    align-content: center;
}