li {
    font-size: 21px;
    font-family: 'Convergence', sans-serif;
}

a {
    padding: 15px;
    text-decoration: none;
    color: white;
}

a:hover{
    color:rgba(255, 255, 255, 0.678);
}

.navbar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
}